.customer-base {
  padding: 94px 0;
}

.client {
  color: var(--main-br-color);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
