.function {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-br-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.function-paragraph {
  width: 270px;
  text-decoration: none;
  color: var(--adrec-el-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
