.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px 0px 32px;
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link {
  color: var(--social-icon-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--web-color);
  color: var(--title-color);
}

.social-icons-svg-comando {
  fill: currentColor;
}
