.web {
  margin-right: 90px;
  text-decoration: none;
  color: var(--main-br-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.web-span {
  color: var(--web-color);
}

.web-footer {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: var(--title-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
